@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset HTML */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  text-underline-offset: none;
  color: #0000ee;
}

a:visited {
  text-decoration: none;
  text-underline-offset: none;
  color: #0000ee;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  text-overflow: ellipsis;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

svg,
img {
  display: inline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  height: 100%;

  /* Colores primarios */

  --primary-color: #181c21;
  --primary-color-dark: #101204;
  --primary-color-light: #66b2ff;
  --secondary-color: #6c757d;
  --accent-color: #ffc107;

  /* Colores neutrales */

  --white: #fff;
  --black: #000000;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  /* Botones */

  --primary-color-btn: #0c66e4;
  --primary-hover-color-btn: #0055cc;
  --aouth-color-btn: var(--white);
  --aouth-hover-color-btn: #091e4224;
  --border-color-btn: #c1c7d0;
  --color-btn: #172b4d;

  /* Inputs */

  --bg-input-hovered: #f7f8f9;
  --border-input: #091e4224;
  --border-focused: #388bff;

  /* Colores de éxito, error, advertencia, información */

  --success-color: #28a745;
  --error-color: #ae2e24;
  --border-danger: #e2483d;
  --warning-color: #ffc107;
  --warning-bg-color: #fff7d6;
  --info-color: #17a2b8;
}

:root {
  /* Text colors */

  --text: #172b4d;
  --text-subtle: #44546f;

  /* Tipografía */

  --font-family-base: "Roboto", sans-serif;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-base: 1.5;

  /* Encabezados */

  --heading-font-family: "Roboto", sans-serif;
  --heading-font-weight: 700;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1rem;
}

:root {
  /* Margen y Padding */

  --space-0: 0rem;
  --space-025: 0.125rem;
  --space-050: 0.25rem;
  --space-075: 0.375rem;
  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-250: 1.25rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-800: 4rem;
  --space-1000: 5rem;
  --space-negative-025: -0.125rem;
  --space-negative-050: -0.25rem;
  --space-negative-075: -0.375rem;
  --space-negative-100: -0.5rem;
  --space-negative-150: -0.75rem;
  --space-negative-200: -1rem;
  --space-negative-250: -1.25rem;
  --space-negative-300: -1.5rem;
  --space-negative-400: -2rem;

  /* Bordes */

  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 8px;
}

:root {
  /* Sombra */

  --box-shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.19);

  /* Transiciones */

  --transition-fast: 0.2s ease-in-out;
  --transition-normal: 0.4s ease-in-out;
  --transition-slow: 0.6s ease-in-out;
}

:root {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
}

@media (max-width: var(--breakpoint-sm)) {
  body {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: var(--breakpoint-md)) {
  body {
    font-size: var(--font-size-lg);
  }
}
